header{
    background-color: rgba(51, 45, 45, 0.253);
    height: 70px;
    padding: 10px;
    display: inline-flex;
    font-size: 40px;
    width: 100%;
    justify-content: center;
}


.menu {
    background-color:rgb(0, 0, 0);
    flex-basis:auto;
}

ul{
    display: flex;
    flex-direction: column;
}

nav a{
    color:white;
    text-decoration: none;
    display: block;
    text-align: center;
    border: 5px outset #09C;
}

nav a:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

ul{
    list-style: none;
}

article{
    background-color: rgb(228, 223, 156);

}

#selected{
    font-weight: bold;
}
